@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import './menuAuth.css';
@import './menuHome.css';
@import './profil.css';

body{
    font-family: Lato;
    box-sizing: border-box;
    font-weight: 200;

}