.nav-container{
    display: flex;
    justify-content: space-between; 
    height: 60px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.logosIcones{
    height: 45px;
    width: 45px;
    padding: 8px;
    margin: 0px;
    position: relative;

}
.activeLinkHome::after{
    content: "";
    background-color: lightcoral;
    background-color: lightcoral;
    position: absolute;
    top:58px;
    border-radius: 60px;
    height: 5px;
    width: 60px;
}
.img-profile{
    width: 45px;
    height: 45px;
    border-radius: 20px;
    display: inline;


}
.nameMenu{
    display: inline;
}