.profil-container h6{
  font-size: 23px;
  padding: 0px;
  margin: 0px;
}
.profil-container h4{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 25px;
}

.profil-container h1{
    text-align: center;
}
.profil-container h3{
    text-align: center;
}

.update-container{
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 15px;    
    width: 40%;
    min-width: 310px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

    }

.update-container img{
   width: 175px;
   height: 175px;
   border-radius: 20px;
   margin-bottom: 30px;
}


.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .profil-container label {
    background-color: whitesmoke;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: gray;
    border-color: whitesmoke;
    position: absolute;
  }

.profil-container input[type="file"]{
    margin-left: 28px;
    margin-top: 7px;
  }
  
  .profil-container label:hover{
    background-color: lightcoral;
    color: white;

}
  .left-part input[type="submit"] {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: lightcoral;
    border-color: lightcoral;
    background-color: white;
    margin-left: 96px;
  }

  .bio-update{
  display: flex;
  flex-direction: column;
  align-items: center;
  }



  .profil-container input[type="submit"]:hover{
        color: rgb(255, 255, 255);
        background-color: lightcoral;
    }

    .profil-container input{
    margin-bottom: 20px;
  }

  .profil-container textarea {
    width: 80%;
    resize: none;
    border: none;
    border-bottom: 1px solid lightcoral;
    padding: 5px;
    margin: 0% 5% 0px 5%;
    font-family: lato;
    margin-bottom: 12px;
}

.profil-container textarea:focus {
  outline: none;
}
  .profil-container{
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }

  .right-part h5 {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: lightcoral;
    border-color: lightcoral;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }
  .right-part h5:hover {
    color: #fff;
    background-color: rgb(246, 166, 166);
    border-color: rgb(238, 164, 164);
    }




.bio-update button {
  cursor: pointer;
  outline: 0;
  color: gray;
  background-color: whitesmoke;
  border-color: whitesmoke;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bio-update button:hover {
  color: #fff;
  background-color: lightcoral;
  border-color: lightcoral;
}

.btn{
  display: flex;
  justify-content: center;
}



.right-part input[type="submit"] {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: lightcoral;
  border-color: lightcoral;
  background-color: white;
}












  
.popup-profil-container {
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
    animation: popup 1s forwards;
}



@keyframes popup {
    to {
      backdrop-filter: blur(2px);
    }
  }
  .modal {
    transform: translate(-100%);
    position: absolute;
    top: 10%;
    left: 50%;
    background: lightcoral;
    padding: 5px 15px 5px 0px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
    overflow: auto;
    transform: scaleY(0);
    transform-origin: center;
    animation: modal .5s forwards;
  }
  @keyframes modal {
    to {
      transform: scale(1) translate(-50%);
    }
  }
  .modal img{
        height: 50px;
        width: 50px;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
        margin-right: 0px;
  }


.modal h4{
  font-weight: 700;
  margin: 20px 20px 0px 20px;
}
.modal li {
  display: flex;
}

.modal ul {
    margin: 20px 0 0;
    max-height: 500px;
    overflow-x: hidden;
}

.modal button{
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: lightcoral;
  border-color: lightcoral;
  background-color: white;
}

.modal button:hover{
  color: #fff;
  background-color: lightcoral;
  border-color: black;
}








.cross {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: 0.1s;
    cursor: pointer;
}
